@model List<AddRisk>;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Probability</th>
            <th>Impact</th>
            <th>Score</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

        @foreach(AddRisk item in @Model)
            {
                <form>
                    <tr>
                        <td><input name="name" value="@item.Name" readonly></td>
                        <td><input name="name" value="@item.Description" readonly></td>
                        <td><input name="name" value="@item.Probability" readonly></td>
                        <td><input name="name" value="@item.Impact" readonly></td>
                        <td><input name="name" value="@item.Score" readonly></td>
                        <td><button type="submit" asp-action="EditRisk">Edit</button></td>
                        <td><button type="submit" asp-action="DeleteRisk">Delete</button></td>
                    </tr>
                </form>
            }

    </table>
    <form><button type="submit" asp-action="AddRisk">New</button></form>
</body>
</html>