<!DOCTYPE html>

@model List<AddRisk>;
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/wwwroot/css/table.css" />
</head>
<body>
    <div class="text-center bg-info">
    <h4>Risks Management Register</h4>
    </div>
        <table class="table table-sm table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Probability</th>
                    <th scope="col">Impact</th>
                    <th scope="col">Score</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>

            @foreach (AddRisk item in @Model)
            {
                <form>
                    <tr>
                        <td><input name="id" value="@item.Id" readonly></td>
                        <td><input name="name" value="@item.Name" readonly></td>
                        <td><input name="desciption" value="@item.Description" readonly></td>
                        <td><input name="probability" value="@item.Probability" readonly></td>
                        <td><input name="impact" value="@item.Impact" readonly></td>
                        <td><input name="score" value="@item.Score" readonly></td>
                        <td><button type="submit" asp-action="Details">Edit</button></td>
                        <td><button type="submit" asp-action="DeleteRisk" value="Delete" onclick="return confirm('Are you sure you want to delete risk @item.Name?')">Delete</button>
                        </td>
                    </tr>
                </form>
            }

        </table>
        <form><button type="submit" asp-action="AddRisk">New</button></form>
</body>
</html>